<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895976468942-p44bga2a44dqar39otscv9arh8jt48ii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895976468942-p44bga2a44dqar39otscv9arh8jt48ii</string>
	<key>API_KEY</key>
	<string>AIzaSyCc3W39bGhVkLzROArF76h-H52DR4i3KV0</string>
	<key>GCM_SENDER_ID</key>
	<string>895976468942</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shoppicano</string>
	<key>PROJECT_ID</key>
	<string>shoppicano</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppicano.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895976468942:ios:9cb22d025d352bfd1b3b9f</string>
</dict>
</plist>